<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.goro.live/static/js/common.js"></script>

<!-- footer -->
<div class="footer mt-auto" id="common-footer" style="background-color: #f5f5f5;">
    <div class="container  justify-content-start">
        <div class="row text-center">
            <div class="col">
                {{>public/contact}}
            </div>

            <div class="col font-weight-bold">© 2020</div>

            <div class="col">
                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#privacy">
                    privacy
                </button>
            </div>

            <div class="col">
                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#terms">
                    terms
                </button>
            </div>
        </div>
    </div>
</div>


